<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div data-th-object="${bookdet}">
    <h1>This is the book details</h1>
    <h2 data-th-text = "'Title:'+ *{title}"></h2>
    <h2 data-th-text = "'Description:'+ *{description}"></h2>
    <h2 data-th-text = "'Excerpt:'+ *{excerpts}"></h2>

    <a href = "/"><p>Back</p></a>
</div>
</body>
</html>